.skills{
    padding-top: 3rem;
}


.skills__container{
    grid-template-columns: 1fr;
    justify-content: center;
}

.skills__content{
    background-color: var(--container-color);
    border: 2px solid var(--container-color);
    border-radius: 1.5rem;
    padding: 2rem 3rem ;
}

.skills__title{
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-2);
}

.skills__box{
    grid-template-columns: repeat(2, 1fr);

}

.skills__group{
    display: grid;
    /* justify-content: center; */
    row-gap: 3rem;
}

.skills__data{
    /* display: flex; */
    column-gap: .5rem;
}

.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name p{
    font-weight: var(--font-semi-bold);
}

.skills__level{
    display: block;
    height: .75rem;
    background-color: rgb(229, 76, 33);
    width: 90%;
    border-radius: 1rem;
    color: black;
}

.css-level{
    width: 90%;
    background-color: rgb(0, 160, 228);
}

.js-level{
    width: 70%;
    background-color: rgb(255, 255, 0);
}

.react-level{
    width: 80%;
    background-color: rgb(97, 218, 251);
}

.tail-level{
    width: 80%;
    background-color: rgb(2, 86, 150);
}

.git-level{
    width: 70%;
    background-color: grey;
}



  /* For small devices */
  @media screen and (max-width: 576px) {
  .skills__container{
    grid-template-columns: 1fr;
  }
  .skills__box{
    grid-template-columns: 1fr;
    row-gap: 2rem;

}
}